version: '3.8'
services:
  postgresDocter:
    image: 'postgres:16'
    container_name: postgres-db-Docter
    # restart: always
    environment:
      POSTGRES_USER: '${POSTGRES_USER_DOCTER}'
      POSTGRES_PASSWORD: '${POSTGRES_PASSWORD_DOCTER}'
      POSTGRES_DB: '${POSTGRES_DB_DOCTER}'
    ports:
      - '${POSTGRES_PORT_DOCTER}:5432'
    volumes:
      - 'postgres_data_docter:/var/lib/postgresql/data'
  postgresPatient:
    image: 'postgres:16'
    container_name: postgres-db-Patient
    # restart: always
    environment:
      POSTGRES_USER: '${POSTGRES_USER_PATIENT}'
      POSTGRES_PASSWORD: '${POSTGRES_PASSWORD_PATIENT}'
      POSTGRES_DB: '${POSTGRES_DB_PATIENT}'
    ports:
      - '${POSTGRES_PORT_PATIENT}:5432'
    volumes:
      - 'postgres_data_patient:/var/lib/postgresql/data'
  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin-Medical
    # restart: always
    environment:
      PGADMIN_DEFAULT_EMAIL: '${PGADMIN_DEFAULT_EMAIL}'
      PGADMIN_DEFAULT_PASSWORD: '${PGADMIN_DEFAULT_PASSWORD}'
    ports:
      - '${PGADMIN_PORT}:80'
    depends_on:
      - postgres_data_docter
volumes:
  postgres_data_docter:
  postgres_data_patient:
