version: '3.8'
services:
  postgresDoctor:
    image: 'postgres:16'
    container_name: postgres-db-Doctor
    # restart: always
    environment:
      POSTGRES_USER: '${POSTGRES_USER_DOCTOR}'
      POSTGRES_PASSWORD: '${POSTGRES_PASSWORD_DOCTOR}'
      POSTGRES_DB: '${POSTGRES_DB_DOCTOR}'
    ports:
      - '${POSTGRES_PORT_DOCTOR}:5432'
    volumes:
      - 'postgres_data_doctor:/var/lib/postgresql/data'
  postgresPatient:
    image: 'postgres:16'
    container_name: postgres-db-Patient
    # restart: always
    environment:
      POSTGRES_USER: '${POSTGRES_USER_PATIENT}'
      POSTGRES_PASSWORD: '${POSTGRES_PASSWORD_PATIENT}'
      POSTGRES_DB: '${POSTGRES_DB_PATIENT}'
    ports:
      - '${POSTGRES_PORT_PATIENT}:5432'
    volumes:
      - 'postgres_data_patient:/var/lib/postgresql/data'
  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin-Medical
    # restart: always
    environment:
      PGADMIN_DEFAULT_EMAIL: '${PGADMIN_DEFAULT_EMAIL}'
      PGADMIN_DEFAULT_PASSWORD: '${PGADMIN_DEFAULT_PASSWORD}'
    ports:
      - '${PGADMIN_PORT}:80'
    depends_on:
      - postgresDoctor
      - postgresPatient
volumes:
  postgres_data_doctor:
  postgres_data_patient:
