.wrapper_header {
  margin-top: 50px;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
    width: 100vw !important;
  background: var(--white) !important;

}


.header {
  width: 100%;
  display: flex;
  // justify-content: space-around;
  align-items: center;
  padding: 17px 24px;
  border-bottom: 1px solid #eee;
  background: #fff;
  position: fixed;

}
.wrapper_logo{
  display: flex;
  flex-direction: row;
  justify-content: center;
  
}
.logo {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 14px;
  font-weight: 400;
  color: var(--primary-color);
    //  border: 1px solid rgba(var(--color-v3-grey-4));
    border-radius: 14px;
    padding: 4px 4px;
      border: 1px solid transparent;
  background: linear-gradient(white, white) padding-box,
              linear-gradient(90deg, #007bff, #a020f0) border-box;
}
.custom_icon{
   font-size: 3rem;
 background: var(--primary-color);
  -webkit-background-clip: text;   /* cắt nền theo chữ */
  -webkit-text-fill-color: transparent; 
}

.title_icon{
     font-size: 1rem;
    display: block;
       max-width: 106px;
    line-height: 1.4;
    text-align: center;
    word-wrap: break-word;
     border-left: 1px solid var(--color-gray-hover); /* đường thẳng bên trái */
  padding-left: 6px;

}


.logo img {
  height: 28px;
}

// .nav {
//   display: flex;
//   gap: 20px;
//   align-items: center;
// }

// .nav a {
//   text-decoration: none;
//   color: #222;
//   font-size: 15px;
//   padding: 6px 10px;
//   border-radius: 8px;
//   transition: background 0.2s;
// }

// .nav a:hover {
//   background: #f5f5f5;
// }
.wrapper_nawItem{
  border: 1px solid rgba(var(--color-v3-grey-4));
    border-radius: 14px;
    padding: 4px 14px;
    background-color: rgba(var(--color-v3-white));
    box-shadow: 0 4px 6px 0 rgba(67, 46, 134, .04);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: 8px;
  
}
.nawItem{
   padding: 8px 12px;
   margin: 0 2px;
  border-radius: 10px;
   font-size: 14px;
   cursor: pointer;
    font-weight: 500;
    border: none ;
   
   font-weight: 600;
    background: var(--color-gray-hover-light);
   
  &:hover{
    background: var(--color-gray-hover-dark);
  
  }
  
}
.nawItem_text{
 background: linear-gradient(90deg, #007bff, #a020f0);
  -webkit-background-clip: text;   /* áp dụng background vào text */
  -webkit-text-fill-color: transparent;
}
.activeNawItem{
 background: var(--primary-color);
 color: var(--white);
 &:hover {
    background: var(--primary-color-dark);
  }
}

.actions {
     display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(var(--color-v3-grey-4));
    border-radius: 14px;
    padding: 4px 4px;
    background-color: rgba(var(--color-v3-white));
    box-shadow: 0 4px 6px 0 rgba(67, 46, 134, .04);
}
.actions_btn {
  padding: 8px 14px;
  border-radius: 10px;
}

.login {
  background: transparent;
  cursor: pointer;
  font-size: 14px;
  border: none ;
  margin-right: 4px;
  &:hover {
    background: var(--color-gray-hover);
  }
}


.signup {
  background: var(--primary-color);
  border: none;
  color: white;
  font-weight: 600;
  cursor: pointer;
  font-size: 14px;
  &:hover {
    background: var(--primary-color-dark);
  }
}

.hamburger {
  display: none;
  font-size: 22px;
  background: none;
  border: none;
  cursor: pointer;
}

/* Responsive */
// @media (max-width: 768px) {
//   .nav {
//     display: none;
//     flex-direction: column;
//     position: absolute;
//     top: 60px;
//     right: 24px;
//     background: #fff;
//     padding: 12px;
//     border: 1px solid #eee;
//     border-radius: 10px;
//     box-shadow: 0 2px 10px rgba(0,0,0,0.08);
//   }

//   .nav.open {
//     display: flex;
//   }

//   .hamburger {
//     display: block;
//   }

//   .actions {
//     display: none;
//   }
// }


.hello{
  background-color: red;
}